div {
    border: 1px solid black;
    padding: 10px 20px;
}

main {
    display: flex;
}

main > div#left-div {
    width: 35vw;
}

form.bmi-calc-form#formcalc {
    background-color: lightgrey;
}

form.bmi-calc-form#formcalc > *:hover {
    background-color: grey;
}

main > div#right-div {
    width: 65vw;
}

div#right-div {
    justify-content: center;
}

label[for="age"]+input{

}